h1 span,
li button {
  float: right;
}

ul{
    border: 2px solid black;
    padding: 1rem;
}

li{
    list-style-type: none;
    padding: 5px;
}

ul li:first-child:has(+ li){
    display: none
}

button{
    cursor: pointer
}