h1 span,
button[type="reset"]{
    float: right;
}


ul{
    border: 2px solid black;
    padding: 1em;
}

li{
    list-style-type: none;
    &:has(+ li){
        margin: 0, 0, 1em
    }
    &.bought{
        .articulo{
            text-decoration: line-through;
        }
    }
}

.articulo{
    display: inline-block;
    line-height: 2em;
    padding: 0 .5em;
    border: 1px dotted black;
    &:hover{
        background-color: lightblue;
        cursor: pointer;
    }
}

ul li:first-child:has(+ li){
    display: none
}

button{
    cursor: pointer
}

li button{
    line-height: 2em;
    margin-left: 1em;
    float: right;
}

input[type="number"]{
  text-align: right;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    fieldset{
        flex-grow: 1;
    }
}